.container {
    padding: 5px 10px;
}

.panel {
    border: 0px;
    border-radius: 5px;
    max-width: 720px;
    margin: 0 auto;
}

body {
    background: #004000;
}

@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
img {
    border-radius: 10%;
}

.banner {
    font-size: 21px;
    color: #b7ffb7;
    font-weight: bold;
    width: 250px;
    margin: 5px auto;
    text-shadow: 3px 3px #400000;
    font-family: 'The Girl Next Door', cursive;
}

#tab>button {
    width: 300px;
    margin: 0 auto;
    display: block;
}

#panel {
    background-color: #dfefff;
    border-style: double;
    border-width: 3px;
    border-color: #002346;
}

.panel-body {
    padding: 5px;
}

.panel-group {
    margin: 0;
}

#myStickers input {
    margin: 0 5px;
}

#myStickers>button {
    margin-top: 7px;
    margin-bottom: 10px;
    width: 130px;
    background-color: #509f00;
}

#getStickers button {
    background-color: #009148
}

button {
    background-color: #0082bf;
    /* Green */
    border: 1px solid #000004;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #004182;
}

button:hover {
    background-color: #0e2d5f;
}

#addComment textarea {
    width: 250px;
}

#addComment input {
    width: 250px;
}

#addComment>div {
    margin-bottom: 5px;
}

#comment {
    border-style: solid;
    border-width: 1px;
    border-color: #003871;
    margin-bottom: 3px;
    box-shadow: 1px 1px 1px #004182;
}

#comment #name {
    color: #002851;
    font-weight: 900;
}

#comment #data {
    color: #790000;
    line-height: 16px;
}

#comment #time {
    color: #620000;
    font-size: 10px;
    font-weight: 700;
    text-align: right;
}

#upDownButton button {
    width: 30px;
    height: 30px;
    margin: 3px;
}

.huePicker {
    margin: 5px;
}

select {
    margin: 5px;
    width: 80px;
}

#printSticker input {
    margin: 0 5px;
}

#printSticker img {
    margin: 5px 10px;
}

#printSticker button:hover,
#myStickers>button:hover,
#getStickers button:hover,
#PublicStickers button:hover {
    background-color: #10540e
}

.buttonGreen button {
    background-color: #167c14;
    margin: 0 8px;
}

#PublicStickers button {
    background-color: #167c14;
}

#printSticker canvas {
    margin: 10px 0;
}

.setSticker {
    background-color: #dfefff;
    border-style: double;
    border-width: 3px;
    border-color: #002346;
}

.settingUp {
    font-weight: bold;
    margin: 10px auto;
    width: 180px;
}

.title {
    max-width: 500px;
    margin: 0 auto;
}

.title>input {
    margin-left: 34px;
    margin-bottom: 10px;
    width: 250px;
}

.moreInfo {
    max-width: 500px;
    margin: 0 auto;
}

.moreInfo>textarea {
    width: 250px;
    margin-left: 2px;
}

.moreInfo>div {
    float: left;
}

.activate {
    display: block;
    margin: 10px auto;
    width: 100px;
}

.stickerTitle {
    font-size: 20px;
    color: #ffcd9b;
    font-weight: bold;
    width: 300px;
    margin: 10px auto;
    text-shadow: 3px 3px #400000;
    border-style: double;
    border-width: 3px;
    border-color: #009100;
    text-align: center;
}

.Home {
    width: 100px;
    display: block;
    background: #aeaeff;
    margin: 15px auto;
    color: black;
}

.Home:hover {
    background-color: #4646ff;
}

.stickerScanned {
    max-width: 500px;
    margin: 0 auto;
}

.addCommentTag {
    width: 60px;
    float: left;
    margin-right: 10px;
}